<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TLD.View.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TLD.View.Properties.Settings>
            <setting name="ShowTrackerObject" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowMedianFlowTrackerGrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowMedianFlowTrackerValidPoints" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowMedianFlowTrackerReliablePoints" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowDetectorObjects" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseDetector" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseTracker" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FrameWidth" serializeAs="String">
                <value>320</value>
            </setting>
            <setting name="FrameHeight" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="UseLearner" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VideoFileName" serializeAs="String">
                <value>jim_parsons.avi</value>
            </setting>
            <setting name="VideoMode" serializeAs="String">
                <value>Camera</value>
            </setting>
            <setting name="NccImagePath" serializeAs="String">
                <value />
            </setting>
        </TLD.View.Properties.Settings>
    </userSettings>
</configuration>